/_
/halt
/matmult
/shell
/sort
/array
/exectest
/exittest
/multitest
/echo
/illegalExceptionTest
/addressExceptionTest
/argtest
/execargtest
/jointest
/pipetest
/produce
/consume
/snake
/forktest
/multioutofmemorytest
/runOutOfMemoryTest
/12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
/execinvalidargtest
/execlongnametest
/invalidbuffertest
/joinIncorrectID
/joinUnjoinable
/notwritingtostdout
/writetoolarge
/goodLocality
/poorLocality
/randomLocality
/referenceAllPages
/referenceSubsetOfPages
